include LICENSE
include README.md

include eth/_utils/kzg_trusted_setup.txt

recursive-include scripts *
recursive-include tests *
global-include *.pyi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune .tox
prune venv*
