bumpversion==0.5.3
flake8==3.5.0
hypothesis==3.44.26
mypy>=0.560
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytest-logging>=2015.11.4
pytest-xdist==1.18.1
pytest==3.1.2
tox==2.7.0
eth-hash[pycryptodome]>=0.1.0a4,<1.0.0
