version: 2.0

# heavily inspired by: 
# https://raw.githubusercontent.com/pinax/pinax-wiki/6bd2a99ab6f702e300d708532a6d1d9aa638b9f8/.circleci/config.yml

common: &common
  working_directory: ~/repo
  steps:
    # TODO: remove this step when `plyvel` gets a Python 3.8 wheel
    - run:
        name: install LevelDB headers dependency system-wide
        command: sudo apt-get install libleveldb-dev
    - checkout
    - run:
        name: checkout fixtures submodule
        command: git submodule update --init --recursive
    - run:
        name: merge pull request base
        command: ./.circleci/merge_pr.sh
    - run:
        name: merge pull request base (2nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - run:
        name: merge pull request base (3nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - restore_cache:
        keys:
          - cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: run tox
        command: ~/.local/bin/tox
    - save_cache:
        paths:
          - .hypothesis
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
        key: cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

jobs:
  py36-benchmark:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-benchmark
  py36-native-blockchain-byzantium:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-byzantium
  py36-native-blockchain-constantinople:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-constantinople
  py36-native-blockchain-frontier:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-frontier
  py36-native-blockchain-homestead:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-homestead
  py36-native-blockchain-istanbul:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-istanbul
  py36-native-blockchain-petersburg:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-petersburg
  py36-native-blockchain-tangerine_whistle:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-tangerine_whistle
  py36-native-blockchain-spurious_dragon:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-spurious_dragon
  py36-native-blockchain-transition:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-transition
  py36-core:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-core
  py36-database:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-database
  py36-transactions:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-transactions
  py36-vm:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-vm
  py36-lint:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-lint
  py36-docs:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-docs

  py37-core:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-core
  py37-database:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-database
  py37-transactions:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-transactions
  py37-vm:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-vm
  py37-lint:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-lint

  py38-core:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-core
  py38-database:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-database
  py38-transactions:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-transactions
  py38-vm:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-vm
  py38-lint:
    <<: *common
    docker:
      - image: circleci/python:3.8
        environment:
          TOXENV: py38-lint

workflows:
  version: 2
  test:
    jobs:
      - py36-benchmark
      - py36-native-blockchain-byzantium
      - py36-native-blockchain-constantinople
      - py36-native-blockchain-frontier
      - py36-native-blockchain-homestead
      - py36-native-blockchain-istanbul
      - py36-native-blockchain-petersburg
      - py36-native-blockchain-tangerine_whistle
      - py36-native-blockchain-spurious_dragon
      - py36-native-blockchain-transition
      - py36-vm
      - py37-vm
      - py38-vm
      - py36-core
      - py37-core
      - py38-core
      - py36-transactions
      - py37-transactions
      - py38-transactions
      - py36-database
      - py37-database
      - py38-database
      - py36-docs
      - py36-lint
      - py37-lint
      - py38-lint
