version: 2.0

# heavily inspired by: 
# https://raw.githubusercontent.com/pinax/pinax-wiki/6bd2a99ab6f702e300d708532a6d1d9aa638b9f8/.circleci/config.yml

common: &common
  working_directory: ~/repo
  steps:
    - checkout
    - run:
        name: checkout fixtures submodule
        command: git submodule update --init --recursive
    - run:
        name: merge pull request base
        command: ./.circleci/merge_pr.sh
    - run:
        name: merge pull request base (2nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - run:
        name: merge pull request base (3nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - restore_cache:
        keys:
          - cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: run tox
        command: ~/.local/bin/tox
    - save_cache:
        paths:
          - .hypothesis
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
        key: cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

jobs:
  py35-lint:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-lint
  py36-lint:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-lint

  py36-docs:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-docs

  py35-native-blockchain-byzantium:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-byzantium
  py35-native-blockchain-constantinople:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-constantinople
  py35-native-blockchain-frontier:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-frontier
  py35-native-blockchain-homestead:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-homestead
  py35-native-blockchain-petersburg:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-petersburg
  py35-native-blockchain-tangerine_whistle:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-tangerine_whistle
  py35-native-blockchain-spurious_dragon:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-spurious_dragon
  py35-native-blockchain-transition:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-native-blockchain-transition
  py35-vm:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-vm
  py35-core:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-core
  py35-transactions:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-transactions
  py35-database:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV: py35-database

  py36-benchmark:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-benchmark
  py36-native-blockchain-byzantium:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-byzantium
  py36-native-blockchain-constantinople:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-constantinople
  py36-native-blockchain-frontier:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-frontier
  py36-native-blockchain-homestead:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-homestead
  py36-native-blockchain-petersburg:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-petersburg
  py36-native-blockchain-tangerine_whistle:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-tangerine_whistle
  py36-native-blockchain-spurious_dragon:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-spurious_dragon
  py36-native-blockchain-transition:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-native-blockchain-transition
  py36-vm:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-vm
  py36-core:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-core
  py36-transactions:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-transactions
  py36-database:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV: py36-database

  py37-core:
    <<: *common
    docker:
      - image: circleci/python:3.7
        environment:
          TOXENV: py37-core

workflows:
  version: 2
  test:
    jobs:
      - py37-core

      - py36-docs

      - py36-native-blockchain-byzantium
      - py36-native-blockchain-constantinople
      - py36-native-blockchain-frontier
      - py36-native-blockchain-homestead
      - py36-native-blockchain-petersburg
      - py36-native-blockchain-tangerine_whistle
      - py36-native-blockchain-spurious_dragon
      - py36-native-blockchain-transition
      - py36-vm
      - py36-benchmark
      - py36-core
      - py36-transactions
      - py36-database

      - py35-native-blockchain-byzantium
      - py35-native-blockchain-constantinople
      - py35-native-blockchain-frontier
      - py35-native-blockchain-homestead
      - py35-native-blockchain-petersburg
      - py35-native-blockchain-tangerine_whistle
      - py35-native-blockchain-spurious_dragon
      - py35-native-blockchain-transition
      - py35-vm
      - py35-core
      - py35-transactions
      - py35-database

      - py35-lint
      - py36-lint
