version: 2.1

# heavily inspired by:
# https://raw.githubusercontent.com/pinax/pinax-wiki/6bd2a99ab6f702e300d708532a6d1d9aa638b9f8/.circleci/config.yml

common: &common
  working_directory: ~/repo
  steps:
    - checkout
    - run:
        name: check openssl version
        command: dpkg -l | grep " openssl "
    - run:
        # this is necessary until circleci images begin using openssl>=3.0.7
        name: update openssl.cnf for ripemd160
        command: |
          sudo tee -a /etc/ssl/openssl.cnf >/dev/null \<<'EOF'

          [openssl_init]
          providers = provider_sect

          [provider_sect]
          default = default_sect
          legacy = legacy_sect

          [default_sect]
          activate = 1

          [legacy_sect]
          activate = 1

          EOF
    - run:
        name: checkout submodules
        command: git submodule update --init --recursive
    - run:
        name: merge pull request base
        command: ./.circleci/merge_pr.sh
    - run:
        name: merge pull request base (2nd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - run:
        name: merge pull request base (3rd try)
        command: ./.circleci/merge_pr.sh
        when: on_fail
    - restore_cache:
        keys:
          - cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: |
          python -m pip install --upgrade pip
          python -m pip install tox
    - run:
        name: Install clang for ckzg
        command: sudo apt-get update && sudo apt-get install -y clang
    - run:
        name: install blst, ckzg, and python bindings
        command: |
          make -C ./c-kzg-4844/src blst
          make -C ./c-kzg-4844/src
          make -C ./c-kzg-4844/bindings/python install
    - run:
        name: run tox
        command: python -m tox run -r
    - save_cache:
        paths:
          - .hypothesis
          - .tox
          - ~/.cache/pip
          - ~/.local
        key: cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
  resource_class: xlarge

orbs:
  win: circleci/windows@5.0.0

windows_steps: &windows_steps
  executor:
    name: win/default
    shell: bash.exe
  working_directory: C:\Users\circleci\project\py-evm
  steps:
    - checkout
    - restore_cache:
        keys:
          - cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: |
          python -m pip install --upgrade pip
          python -m pip install tox
    - run:
        name: Install make and clang via chocolatey
        command: |
          choco install make
          choco install llvm
    - run:
        name: install blst, ckzg, and python bindings
        command: |
          make -C ./c-kzg-4844/src blst
          make -C ./c-kzg-4844/src
          make -C ./c-kzg-4844/bindings/python install
    - run:
        name: run tox
        command: python -m tox run -r
    - save_cache:
        paths:
          - .tox
        key: cache-v1-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

jobs:
  docs:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: docs

  py311-native-blockchain-berlin:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-berlin
  py311-native-blockchain-byzantium:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-byzantium
  py311-native-blockchain-cancun:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-cancun
  py311-native-blockchain-constantinople:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-constantinople
  py311-native-blockchain-frontier:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-frontier
  py311-native-blockchain-homestead:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-homestead
  py311-native-blockchain-istanbul:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-istanbul
  py311-native-blockchain-london:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-london
  py311-native-blockchain-merge:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-merge
  py311-native-blockchain-petersburg:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-petersburg
  py311-native-blockchain-shanghai:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-shanghai
  py311-native-blockchain-spurious_dragon:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-spurious_dragon
  py311-native-blockchain-tangerine_whistle:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-tangerine_whistle
  py311-native-blockchain-transition:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-native-blockchain-transition

  py38-core:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-core
  py38-database:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-database
  py38-difficulty:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-difficulty
  py38-lint:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-lint
  py38-transactions:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-transactions
  py38-vm:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-vm
  py38-wheel:
    <<: *common
    docker:
      - image: cimg/python:3.8
        environment:
          TOXENV: py38-wheel

  py39-core:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-core
  py39-database:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-database
  py39-difficulty:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-difficulty
  py39-lint:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-lint
  py39-transactions:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-transactions
  py39-vm:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-vm
  py39-wheel:
    <<: *common
    docker:
      - image: cimg/python:3.9
        environment:
          TOXENV: py39-wheel

  py310-core:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-core
  py310-database:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-database
  py310-difficulty:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-difficulty
  py310-lint:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-lint
  py310-transactions:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-transactions
  py310-vm:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-vm
  py310-wheel:
    <<: *common
    docker:
      - image: cimg/python:3.10
        environment:
          TOXENV: py310-wheel

  py311-core:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-core
  py311-database:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-database
  py311-difficulty:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-difficulty
  py311-lint:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-lint
  py311-transactions:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-transactions
  py311-vm:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-vm
  py311-wheel:
    <<: *common
    docker:
      - image: cimg/python:3.11
        environment:
          TOXENV: py311-wheel
  py311-wheel-windows:
    <<: *windows_steps
    environment:
      TOXENV: py311-wheel-windows

workflows:
  version: 2
  test:
    jobs:
      - docs
      - py311-native-blockchain-berlin
      - py311-native-blockchain-byzantium
#      - py311-native-blockchain-cancun  # TODO: re-enable when we have tests passing
      - py311-native-blockchain-constantinople
      - py311-native-blockchain-frontier
      - py311-native-blockchain-homestead
      - py311-native-blockchain-istanbul
      - py311-native-blockchain-london
      - py311-native-blockchain-merge
      - py311-native-blockchain-petersburg
      - py311-native-blockchain-shanghai
      - py311-native-blockchain-spurious_dragon
      - py311-native-blockchain-tangerine_whistle
      - py311-native-blockchain-transition
      - py38-core
      - py39-core
      - py310-core
      - py311-core
      - py38-database
      - py39-database
      - py310-database
      - py311-database
      - py38-difficulty
      - py39-difficulty
      - py310-difficulty
      - py311-difficulty
      - py38-lint
      - py39-lint
      - py310-lint
      - py311-lint
      - py38-transactions
      - py39-transactions
      - py310-transactions
      - py311-transactions
      - py38-vm
      - py39-vm
      - py310-vm
      - py311-vm
      - py38-wheel
      - py39-wheel
      - py310-wheel
      - py311-wheel
      - py311-wheel-windows
